/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

.container {
  margin-top: 50px;
}

a {
	color: rgb(255,160,122);
}



.droppable {
  width: 100px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  border: 1px solid grey;
  border-radius: 10% 10%;
}

.draggable {
  width: auto;
  height: 30px;
  padding: 1px 15px;
  display: inline-block;
  background-color: rgba(0, 106, 255, 0.583);
  color: white;
  border-radius: 10% 10%;
}

input {
  color: grey;
}


/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/* */



