/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/* THIS ARE THE BOXES FOR ALL THE TOPICS, GENERALLY THE BASIC STYLING */
.container {
  margin-top: 50px;
}

/*alert styling*/
.alert-success {
  border-color: #e6e6e6;
  border-left: 5px solid #00986a;
  background-color: #fff;
  color: #888;
}

.alert-info {
  border-color: #e6e6e6;
  border-left: 5px solid #00b3c8;
  background-color: #fff;
  color: #888;
}

.alert-warning {
  border-color: #e6e6e6;
  border-left: 5px solid #f9af2c;
  background-color: #fff;
  color: #888;
}

.alert-danger {
  border-color: #e6e6e6;
  border-left: 5px solid #c82630;
  background-color: #fff;
  color: #888;
}

@media (min-width: 768px) {
  .alert {
    border-radius: 6px;
    display: table;
    width: 100%;
    padding-left: 78px;
    position: relative;
    padding-right: 60px;
    border: 1px solid #e6e6e6;
  }

  .alert .close {
    color: #888;
    opacity: 1;
    float: none;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -12px;
    font-size: 25px;
  }

  .alert .icon {
    text-align: center;
    width: 58px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    padding-top: 15px;
    border-radius: 6px 0 0 6px;
  }

  .alert .icon i {
    font-size: 20px;
    color: #fff;
    left: 21px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }

  .alert .icon img {
    font-size: 20px;
    color: #fff;
    left: 18px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }
  /*============ colors ========*/
  .alert.alert-success .icon,
  .alert.alert-success .icon:after {
    border-color: none;
    background: #00986a;
  }

  .alert.alert-info .icon,
  .alert.alert-info .icon:after {
    border-color: none;
    background: #00b3c8;
  }

  .alert.alert-warning .icon,
  .alert.alert-warning .icon:after {
    border: none;
    background: #f9af2c;
  }

  .alert.alert-danger .icon,
  .alert.alert-danger .icon:after {
    border-color: none;
    background: #c82630;
  }
}

a {
	color: rgb(255,160,122);
}

h5 {
  display: inline-block; 
  padding-top: 10px;
}


/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/* */



