* {
	margin:  0px;
	padding:  0px;
}

nav {
	background-color: black; 
	font-family: fantasy; 
	font-size: 14pt;
	text-decoration: none; 
	margin: 0px; 
	padding:  0px; 
	width: 100%
}
           
li {
	display: inline-block; 
	color: white; 
	margin: 20px 40px 20px 5px

}

a {
	text-decoration: none; 
	color: white; 
	font-size: 18pt
}
              			


img {
	filter: brightness(120%); 
	filter: contrast(120%)
}

      
#logo {
	border:3px solid grey; 
	border-radius:90px 0px 90px 0px; 
	box-shadow: 2px 2px 7px 1px #CE5937; 
	float: left
}

h1 {
	color: darkgreen; 
	font-family: fantasy; 
	margin-left: 25%; 
	margin-right: 20%
}

p {
	color: lightseagreen; 
	font-size: 16pt; 
	font-family: fantasy; 
	margin-left: 25%; 
	margin-right: 20%; 
	text-align: justify;
}




